.header{
    border-bottom: 1px solid #e5e7eb; 
    padding: 16px 0;
}

.header-container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo-icon {
    background-color: var(--cor-fundo);
    color:var(--cor-texto);
    width: 100px;
}

.logo.text {
    font-weight: 600;
    font-size: 16px;
    color:var(--cor-titulo);
}

.nav a:hover{
    color:var(--cor-escura);
    transition: ease 0.5;
}

.btn-contatos{
    border: 1px solid var(--color-borda);
    padding: 8px 20px;
    border-radius: var(--raio-pequeno);
    transition: background-color 0.2s;
}

.btn-contatos:hover{
    background-color: var(--cor-texto);
    color:var(--cor-fundo) !important;
}